@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: 0,
  ));

}

*, .mat-mdc-button, .mat-mdc-card, .mat-typography {
  font-family: var(--font-sans) !important;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  font-family: var(--font-sans);
  --mat-sys-body-medium: 400 1rem var(--font-sans);
}

:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --radius: 0.625rem;
    --primary-color: #46AA5F;
    --primary-contrast: #ffffff;

    /* --- FORÇANDO AS CORES NO MATERIAL 3 --- */
    // Isso muda a cor de todos os componentes que usam 'primary'
    --mat-sys-primary: var(--primary-color) !important;
    --mat-sys-on-primary: var(--primary-contrast) !important;


    --mdc-filled-button-container-color: var(--primary-color) !important;
    --mdc-filled-button-label-text-color: var(--primary-contrast) !important;

    /* --- FORÇANDO O ARREDONDAMENTO --- */
    --mdc-filled-button-container-shape: var(--radius) !important;
    --mdc-outlined-button-container-shape: var(--radius) !important;
    --mdc-standard-button-container-shape: var(--radius) !important;

    /* --- FORÇANDO A FONTE NOS TOKENS --- */
    --mat-sys-body-large: var(--font-sans);
    --mat-sys-body-medium: var(--font-sans);
    --mat-sys-label-large: var(--font-sans);
}
